/* <!-- 
Sergio Aguilar 
921140724
SergioWater
 --> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    background-image: url('assets/city.webp'); 
    background-size: cover; 
    background-repeat: no-repeat;
    border: 5px solid #654321;
}

.mole-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 150px;
    padding: 20px; 
}

.hole {
    position: relative;
    width: 100px; 
    height: 100px; 
    background-color: gold;
    border-radius: 50%;
    border: 2px solid rgb(90, 66, 11);
}

#timer, #score, #game-over {
    font-size: 40px;
    color: red; 
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000; 
}

#timer {
    margin-top: 20px;
}

#score {
    margin-bottom: 20px;
    color: red; 
}


.mole {
     
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 100%;
    background-image: url('./assets/morty.png'); /* Path to your morty image */
    background-size: cover;
    transition: transform 0.2s;
    transform: translateY(100%);
    transition: transform 0.2s, visibility 0.2s;
    visibility: hidden; 
}

.hole.up .mole {
    transform: translateY(0); /* Show the mole */
    visibility: visible;
}
#start-game-button,#restart-game-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #556b2f; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0; /* Add margin for spacing */
    outline: none; /* Optional: Removes the outline */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#restart-game-button:hover, #start-game-button:hover {
    background-color: #6b8e23;
}

